
.fileIcone:hover,.dirIcone:hover{
    width: 70px;}

a,#stockage,#dossiers,#fichiers{
    border-style: solid;
    margin:10px;
}

.fileIcone,.dirIcone{
    width: 50px;
    float:inherit;
}
#fileButton,#dirButton{
    margin:5px;
    margin-left: 15px;
    height: 40px;
    width: 25%;
    font-size: 20px;
}
nav{
    font-size: 20px;
    padding: 10px;
}

nav a{
    padding: 5px;
}

