
.fileIcone:hover,.dirIcone:hover{
    width: 70px;}

a,#dossiers,#fichiers{
    text-align: left;
    margin:10px;
}

.fileIcone,.dirIcone{
    width: 50px;
    float:inherit;
}
#fileButton,#dirButton{
    margin:5px;
    margin-left: 15px;
    
    font-size: 20px;
    display: inline;
    
    
}
#fichiers{
    margin-top: 25px;
}
#paraButton{
    margin-top: 25px;
    text-align: center;
}
nav{
    font-size: 20px;
    padding: 10px;
    border-bottom: solid;
    border-radius: 0;
}

nav a{
    padding: 5px;
    text-align: center;
}
nav h1{
    float: left;
    margin-top: 12px;
    margin-right: 15px;
}
nav input{
    height: 30px;
    width: 200px;
    margin-top: 12px;
    margin-left: 20px;
} 
.param{
    border-style: none;
    background: none;
}

.ico{
    height: 50px;
    margin-top: 5px;
}
#icoParam{
    float: right;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: solid;
}

/* The navigation menu links */
.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  margin-bottom: 12px;
  margin-left: 5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
#stockage {
  margin-left: 120px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#plus{
    width: 20px;
}
