html {
    /*Background*/
    height: 100%;
    background-image: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)) ;
    background-repeat: no-repeat;
    background-size: 100%;
    

    /*Police écriture*/
    font-family: 'Poppins', sans-serif;

    color:#3F3F3F;

    overflow: hidden;
    
}

nav{
    background: initial;
    width:100%;
    border-radius: 10px;
    text-align: right;
    margin-left: -20px;}
    
#icone{
    width:50px;
    text-align: right;
    display: block;
    margin-left: 50px;

}

#wrapper{
    /*Background*/
    background-color: white;
    border-radius: 15px;

    /*Position wrapper*/
    width:40%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    /*Position elements inter wrapper*/
    padding: 50px;
    text-align: center;}

/* Forme générale des elements, la positions est gérée dans le fichier css correspondant à la page*/
input,a,button{
    border-radius:7px;
    border-width: 1px;
    border-style: solid;
    border-color: #808080;

    background-color: white;

    color:#808080;

    box-shadow: none;}
input[type="submit"]:hover,a:hover,button:hover{
    color:#7FD3D7;
    border-color: #7FD3D7;}
input[type="email"]:focus,input[type="password"]:focus{
    border-color: #7FD3D7;
    text-align: center;}
input::placeholder{
    text-align:center;
    width:auto;

    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;}

/* Enlever le souligné des liens*/
a{
    text-decoration: none;
    padding: 5px;
    font-family: Arial Narrow, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
    


dialog{
    background-color: #777777;}