body{
    height: 100%;
}

a,button,input{
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    display: block;
    width: 300px;
    height: 60px;

    font-size: large;
    font-family: 'Poppins', sans-serif;
}
#wrapper{
    text-align: center;
}

a{
    padding-top: 15px;
    
}

nav{
    background-color: unset;
    border: solid;
    border-color: transparent;
    padding: 10px;
}
form{
    text-align: center;
}