html {
    /*Background*/
    height: 100%;
    background-image: linear-gradient(45deg,#CCEEFF,#CCFFCC) ;

    /*Police écriture*/
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
    color:#3F3F3F;
    
}

a:hover 
{
 font-weight: bold;
}

#wrapper{
    /*Background*/
    background-color: white;
    border-radius: 15px;

    /*Position wrapper*/
    width:40%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    /*Position elements inter wrapper*/
    padding: 50px;
    text-align: center;
}

form,p{
    border-style: solid;
}


/*
input::placeholder{
    margin-left: 15px;
}µ/

